header {
	background: #5E17EB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 1150px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 50px;
	right: 0px;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #ffffff;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: white;
	text-decoration: underline;
}

.noticiasimg {
	padding: 10px 0px 10px 40px;
}

.imagem {
 	border: 5px solid black;
	width: 45%;
	border-radius: 10px;
}

.imagem:hover {
	width: 46%;
	border-color: red;
}

footer {
	text-align: center;
	background: #5e17eb;
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}